<div class="mis_tarjetas">
<header>Mis Tarjetas</header>
<div class="col-md-12" style="height: 85%; overflow:auto">
	<div>
		<img src="./img/tarjeta_1.png" style="width:100%"/>
		<div style="position: absolute; right:0px; bottom: 0px">
			<button>compartir</button>
		</div>
	</div>
	<img src="./img/tarjeta_2.png" style="width:100%"/>
	<img src="./img/tarjeta_3.png" style="width:100%"/>
	<img src="./img/tarjeta_4.png" style="width:100%"/>
	
</div>
	<div class="footer col-md-12">
		<div class="btn-group btn-group-justified" role="group">
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Agregar
			</button>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>Buscar
			</button>
		</div>
	</div>
</div>

