<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.co.easycard"
	version = "1.0.0">
	<name>EasyCard</name>
	<description>
		Aplicacion para el manejo de tarjetas de presentacion.
	</description>
	<author href="http://donatosoft.com" email="danielaperador@donatosoft.com">
		Donato Soft S.A.S.
	</author>
	
	<gap:platform name="android" />

	<!--<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.contacts" />-->

	<icon src="img/icon.jpg" />

	<access origin="*"/>
	
</widget>
