<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.donatosoft.easycard"
	version = "1.0.0">
	<name>EasyCard</name>
	<description>
		Aplicación para el manejo de tarjetas de presentación.
	</description>
	<author href="http://donatosoft.com" email="danielaperador@donatosoft.com">
		Donato Soft S.A.S.
	</author>

	<preference name="permissions" value="none"/>
	<!-- Customize your app and platform with the preference element. -->
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="auto" />
	<preference name="phonegap-version" value="3.6.3" />

	<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.contacts" />

	<icon src="icon.jpg" />

	<access origin="*"/>
</widget>